/* Path: src\styles\index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@media all and (max-width: 800px) {
  .container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}

a {
  color: rgb(53, 223, 200);
  font-weight: bold;
}

a:hover {
  color: rgb(120, 208, 155);
}

.subscribeButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7px;
  text-align: center;
  outline: none;
  text-decoration: none !important;
  color: #ffffff !important;
  width: 200px;
  height: 32px;
  border-radius: 16px;
  background-color: #0a66c2;
  font-family: "SF Pro Text", Helvetica, sans-serif;
}
